@model List<Contact>
<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="d-grid grid-col-4 grids-content">
                    @foreach(var item in Model)
                    {
                        <div class="column">
                            <h4>Adresimiz</h4>
                            <p class="contact-para3">@item.Name @item.Subject</p>
                            <a href="ozkantunahn@gmail.com">
                                <p class="contact-mail mt-2">@item.Email</p>
                            </a>
                        </div>
                        <div class="column">
                            <h4>İletişim Bilgileri</h4>
                            <p>Tuna Pizz'ı Telefon ile arayarak rezervasyon yapabilirsiniz.</p>
                            <a href="tel:+90-312-742-06">
                                <p class="contact-phone mt-2">@item.Message</p>
                            </a>
                        </div>
                        <div class="column">
                            <h4>Açık Saatlerimiz</h4>
                            <p>Pazartesi - Cumartesi</p>
                            <p class="mt-2">@item.SendDateMessage</p>
                        </div>
                    }      
                    <div class="column">
                        <h4>Twitter Adresimiz</h4>
                        <a href="https://twitter.com/">
                            <p>
                                <span class="fa fa-twitter mr-2"></span>Yerken beğendiğiniz pizzaları bizi hastagleyerek paylaşırsanız seviniriz.
                            </p>
                        </a>
                        <p class="small mt-2"><span class="fa fa-clock-o"></span> Temmuz 22, 2023</p>
                    </div>
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid">
                        <p class="copy-footer-29">
                            © 2023 Tuna Pizz. Her Hakkı Saklıdır | Designed by Tunahan Özkan</a>
                        </p>
                    </div>
                    <div class="columns text-right social-grid">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="https://www.instagram.com/"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            <li><a href="https://twitter.com/"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>